model_config_list {
    config {
        name: 'fold0'
        base_path: '/models/results/serving_models/fold0/'
        model_platform: 'tensorflow'
        model_version_policy {
             specific {
                 versions: 1
                      }
                            }
    }

    config {
        name: 'fold1'
        base_path: '/models/results/serving_models/fold1/'
        model_platform: 'tensorflow'
        model_version_policy {
             specific {
                 versions: 1
                      }
                            }        
    }

    config {
        name: 'fold2'
        base_path: '/models/results/serving_models/fold2/'
        model_platform: 'tensorflow'
        model_version_policy {
             specific {
                 versions: 1
                      }
                            } 
            }

    config {
        name: 'fold3'
        base_path: '/models/results/serving_models/fold3/'
        model_platform: 'tensorflow'
        model_version_policy {
             specific {
                 versions: 1
                      }
                            } 
            }

    config {
        name: 'fold4'
        base_path: '/models/results/serving_models/fold4/'
        model_platform: 'tensorflow'
        model_version_policy {
             specific {
                 versions: 1
                      }
                            } 
    }


}