api_file/utils/.env
api_file/utils/db.env
api_file/utils/config.yml
api_file/utils/models.yaml
api_file/.dockerignore
tf-serving/models.config
tf-serving/pre-trained-model
tf-serving/results
__pycache__
api_file/__pycache__
api_file/utils/__pycache__
google-labelling-public-it-latest.ipynb